html,
body {
    height : 100%;
}

.game-block {
    display : flex;
    height : 100%;
}

.game-container {
    font-family : Verdana, Arial, sans-serif;
    height : 100%;
    margin : auto;
    text-align : center;
    color : orange;
}

.game-canvas {
    position : relative;
    width : 400px;
    height : 400px;
    background-color : #ccc;
}

.mandarin {
    position : absolute;
    display : none;
    width : 40px;
    height : 40px;
    cursor : pointer;
}

.lemon{
    position : absolute;
    display : none;
    width : 40px;
    height : 40px;
    cursor : pointer;
}

.choice-fruit{
    width : 40px;
    height : 40px;
    cursor : pointer;
    margin: 20px 30px 0 30px;
}

.startGame {
    font-family : Verdana, Arial, sans-serif;
    height: 40px;
    width: 130px;
    background-color: red;
    border-radius: 20px;
    cursor : pointer;
    border: 0;
    color: #ffffff;
    margin: 20px 0 20px 0;
}

.levelGame{
    font-family : Verdana, Arial, sans-serif;
    cursor : pointer;
    background-color: yellow;
    height: 30px;
    width: 70px;
}

.settihg-container{
    text-align : center;
    width: 30%;
}

.startGame:focus{
    box-shadow:
            0 0 0 3px rgb(255, 255, 255),
            0 0 0 6px #2f7cc0;
    outline: none;
}

.results-container{
    width: 30%;
    text-align : center;
}

.li{
    list-style-type: none;
    margin: 10px 0 10px 0;
}
