html,
body {
    height : 100%;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
}

.menu {
    margin: 10px;
}

.sub_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.link {
    text-decoration: none;
    color: red;
}

.show {
    display: block;
}