html,
body {
    height : 100%;
    margin: 0;
}

.flex-wrap {
    background-color: aqua;
    display: flex;
    height : 100%;
}

.btn__open__modal {
    border-radius: 20px;
    color: black;
    background-color: #659C35;
    cursor: pointer;
    border: 0;
    margin: auto;
    padding: 15px 20px;
}

.modal__window{
    height: 300px;
    width: 400px;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    display: none;
    justify-content: center;
    position: fixed;
    text-align: center;
    background-color: white;
    z-index: 1;

}

.btn__close__modal{
    height: 15px;
    width: 15px;
    padding: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: 0px;
}

.fon{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: none;
}

.modal__window--show{
    display: flex;
}

.fon--show{
    display: block;
}
