html,
body {
    height : 100%;
}

.form {
   margin: 20px 0px;
}

.card {
    display: inline-block;
    border: 1px solid #ccc;
}

.center{
    text-align: center;
}

.init__button{
    margin: 20px 10px;
}

.width_field{
    width: 150px;
}

.modal__window{
    height: 70px;
    width: 400px;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    display: none;
    justify-content: center;
    position: fixed;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.fon{
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    top: 0;
    display: none;
}

.modal__window--show{
    display: flex;
}

.fon--show{
    display: block;
}
